.product-action-btn {
        background-color: #f8f9fa !important;
        border-color: #dee2e6 !important;
        color: #6c757d !important;
    }



    .action-btn {
        background-color: #f8f9fa !important;
        border-color: #dee2e6 !important;
        color: #6c757d !important;
    }

    .product-action-btn i {
        color: #6c757d !important;
    }
    .product-action-btn.btn-outline-primary:hover {
        background-color: #343a40 !important;
        border-color: #23272b !important;
    }


    .product-action-btn.btn-outline-primary:hover {
        background-color: #343a40 !important;
        border-color: #23272b !important;
    }


    .action-btn.edit-btn:hover {
        background-color: #343a40 !important;
        border-color: #23272b !important;
       color: #fff !important;
    }

    .action-btn.delete-btn:hover {
         background-color: #c82333 !important;
        border-color: #bd2130 !important;
         color: #fff !important;
    }

    .product-action-btn.btn-cancel:hover {
        color: #fff !important;
        background-color: #343a40 !important;
        border-color: #23272b !important;
    }
    .product-action-btn.btn-outline-danger:hover {
        background-color: #c82333 !important;
        border-color: #bd2130 !important;
    }
    .product-action-btn.btn-outline-danger:hover i {
        color: #fff !important;
    }

    .product-action-btn.btn-new {
        
        border-color: #375a7f !important;
        color: #6c757d !important;
    }

    .product-action-btn.btn-save {
        
        border-color: #375a7f !important;
        color: #375a7f !important;
         background-color: #fff !important;
    }

    .product-action-btn.btn-new:hover {
        
        background-color: #375a7f !important;
        border-color: #2c3e50 !important;
        color: #fff !important;
    }

    .product-action-btn.btn-save:hover {
        background-color: #375a7f !important;
        border-color: #2c3e50 !important;
        color: #fff !important;
    }


    .action-btn.btn-save {
        
        border-color: #375a7f !important;
        color: #375a7f !important;
         background-color: #fff !important;
    }

    .action-btn.btn-save:hover {
        background-color: #375a7f !important;
        border-color: #2c3e50 !important;
        color: #fff !important;
    }



    .action-btn.btn-cancel {
        
        border-color: #375a7f !important;
        color: #375a7f !important;
        
    }

    .action-btn.btn-cancel:hover {
       color: #fff !important;
        background-color: #343a40 !important;
        border-color: #23272b !important;
    }


    .action-btn.btn-new:hover {
        
        background-color: #375a7f !important;
        border-color: #2c3e50 !important;
        color: #fff !important;
    }